<div class="container page-container">
    <div class="row">
        <div class="col-8">
            <img class="package-image" src="assets/images/product-image.jpg"/>
            <div class="detail-section">
                <h2 class="mb-2">Indonesian Package 1</h2>
                <h5 class="text-muted">by <a class="merchant-link">Nanik Catering</a></h5>
            </div>
            <h6>Aneka sajian masakan indonesia dengan aroma harum, lezat, dan berkhasiat pada kesehatan,
                untuk menemani makan siang Anda.</h6>
        </div>
    </div>
    <hr class="my-4 separator-line"/>
    <div class="menu-schedule">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-4">Jadwal Menu Harian</h4>
                <feedeat-menu-grid-container></feedeat-menu-grid-container>
            </div>
        </div>
    </div>
</div>
