:host {
    .wrapper {
        position: relative;
    }

    input {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.1) !important;
    }

    .icon {
        position: absolute;
        right: 10px;
        top: calc(50% - 5px);
    }
}
