<section class="banner">
    <div class="container">
        <div class="banner-content">
            <div class="banner-text">
                <h1>
                    Lapar?
                </h1>
                <h1>
                    Pesan aja disini!
                </h1>
                <p>
                    Rencanakan dan pesan makanan sehari-hari mu!
                </p>
            </div>
            <div class="order-button">
                <button routerLink="/products" class="btn btn-success">ORDER SEKARANG</button>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="what-to-eat-section">
        <div class="w-100 text-center">
            <h1 class="mb-3">Kamu mau makan apa?</h1>
            <hr class="text-header-line"/>
            <div class="px-5">
                <feedeat-what-to-eat-grid-container></feedeat-what-to-eat-grid-container>
            </div>
        </div>
    </div>
    <div class="what-to-eat-section">
        <div class="w-100 text-center">
            <h1 class="mb-3">Mengapa FeedEat?</h1>
            <hr class="text-header-line margin-nill"/>
            <feedeat-why-us-grid-container></feedeat-why-us-grid-container>
        </div>
    </div>

    <div class="what-to-eat-section">
        <div class="w-100 text-center">
            <h1 class="mb-3">Apa yang Mereka Katakan Tentang Feedeat?</h1>
            <hr class="text-header-line"/>
            <feedeat-testimony-grid-container></feedeat-testimony-grid-container>
        </div>
    </div>
</div>
