quill-editor {
    .ql-toolbar {
        border-top-left-radius: $box-radius;
        border-top-right-radius: $box-radius;
        border: none !important;
        background-color: $input-bg-color;
    }

    .ql-container {
        border-bottom-left-radius: $box-radius;
        border-bottom-right-radius: $box-radius;
        border: none !important;
        background-color: $input-bg-color;
    }

    .ql-editor {
        font-weight: 400;

        &::placeholder,
        &.ql-blank::before {
            font-style: normal !important;
            font-weight: 400;
            color: $gray-300;
        }
    }

    &.full-editor {
        .ql-toolbar {
            border-radius: $box-radius !important;
        }

        .ql-container.ql-snow {
            border: none !important;
            background-color: transparent !important;

            .ql-editor {
                margin-top: 22px;
                margin-bottom: 72px;
                font-size: 16px;
                line-height: 1.7;

                * {
                    color: $dark;
                }

                p {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

.editor-title {
    font-size: 28px;
    overflow-wrap: break-word;
    color: $dark;
    font-weight: 500;
    border: none;
    width: 100%;
    height: 62px;
    outline: 0;
    resize: none;

    &::placeholder {
        color: $gray-300;
    }
}
