<div class="card my-3">
    <div class="card-thumbnail">
        <img class="product-thumbnail" [src]="products.link"/>
        <div class="top-info">
            <div class="badge badge-success"><i class="fas fa-star text-warning mr-2"></i>5/5</div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-title m-0">
            <h5 (click)="detailClicked.emit('123111')">{{ products?.title }}</h5>
            <label class="merchant-name text-muted">by <a class="merchant-link">{{ products?.merchant }}</a></label>
        </div>
        <h6 class="mb-2">{{ products?.price }}</h6>
        <div class="w-100 text-right">
            <button class="btn btn-sm btn-success mb-2">Pesan langsung</button>
        </div>
    </div>
</div>
