@import '../../../../../../../scss/variables';

:host {
    /deep/ .card {
        width: 300px;
        border-radius: 0;
        .card-header {
            font-weight: 500;
            font-size: 20px;
            padding: 15px;
            background-color: #f3f8ff;
            border: none;
        }
    }

    /deep/ {
        .btn-outline-secondary {
            &.active {
                background-color: $success !important;
                color: #ffffff !important;
            }
        }
    }

    .line {
        width: 40px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: black;
        border-width: 2px;
    }

    .reset-filter {
        font-size: 11px !important;
    }

    .sorting-icon {
        border: 2px solid grey;
        padding: 5px 10px 5px 10px;
        border-radius: 50%;
        font-size: 20px;
    }
}
