<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" >
    <div ngxSlickItem>
        <div class="card">
            <div class="row">
                <div class="col-6 testimony-text">
                    <div>
                        <div class="text-left mb-2">
                            <img class="testimony-quote" src="assets/images/left-quote.png"/>
                        </div>
                        <div class="text-center quote-text">
                            Saya sangat senang membuka usaha saya di Feedeat karena sangat amat menguntungkan. Pelanggannya juga sangat ramah
                        </div>
                        <div class="d-flex align-items-center k-justify-content-end mt-2">
                            <img class="testimony-quote" src="assets/images/right-quote.png"/>
                        </div>
                        <div>
                            <p>Idris Elba - Pengusaha</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 testimony-photo people-1">
                </div>
            </div>
        </div>
    </div>
    <div ngxSlickItem>
        <div class="card">
            <div class="row">
                <div class="col-6 testimony-text">
                    <div>
                        <div class="text-left mb-2">
                            <img class="testimony-quote" src="assets/images/left-quote.png"/>
                        </div>
                        <div class="text-center quote-text">
                            Menu-menu makanan di Feedeat sangat memuaskan saya. Sangat enak, tapi juga sehat. Terima kasih Feedeat!
                        </div>
                        <div class="d-flex align-items-center k-justify-content-end mt-2">
                            <img class="testimony-quote" src="assets/images/right-quote.png"/>
                        </div>
                        <div>
                            <p>Tony Setark - Pengusaha</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 testimony-photo people-2">
                </div>
            </div>
        </div>
    </div>
</ngx-slick-carousel>
