<div class="row">
    <div class="col-6 text-right">
        <img class="why-us-image" src="assets/images/online.svg"/>
    </div>
    <div class="col-6 why-us-text-section left">
        <div>
            <h3>Mudah untuk digunakan</h3>
            <p class="why-us-description left">Feedeat sangat mudah untuk digunakan karena semua transaksi yang ada berbasis online</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6 why-us-text-section right">
        <div>
            <h3>Buat usahamu sendiri</h3>
            <p class="why-us-description">Dengan Feedeat, kamu bisa mulai buat usaha catering-mu sendiri dengan sangat mudah.</p>
        </div>
    </div>
    <div class="col-6 text-left">
        <img class="why-us-image" src="assets/images/business.svg"/>
    </div>
</div>

<div class="row">
    <div class="col-6 text-left">
        <img class="why-us-image" src="assets/images/food-plan.svg"/>
    </div>
    <div class="col-6 why-us-text-section left">
        <div>
            <h3>Rencanakan makanan harianmu</h3>
            <p class="why-us-description left">Feedeat bisa membantu kamu dalam perencanaan makanan kamu setiap hari dengan fitur catering harian</p>
        </div>
    </div>
</div>
